.firstText {
  background-color: #fff7e6;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.heads {
  padding: 0px 25px;
}
/* .card {
  background-color: #fff7e6;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 15px;
} */
